body {
	background-image:url("Memory_game_images/bg.jpg");
	background-position:cover;
}

body div.text-center.intro {
	color:green;

	font-family: 'Shadows Into Light', cursive
}
/*specifity to override properties from bootstrap*/
.col-xs-3 {
	height:80px;
	margin-left:6%;
}

.row {
	margin-top:2%;
}
/* added margins to bootstrap classes to separate so card background image would 
not have to directly inserted into the columns*/