body {
	background-image:url("Memory_game_images/bg.jpg");
	background-position:cover;
}

body div.text-center.intro {
	color:green;

	font-family: 'Shadows Into Light', cursive
}
#overlay {
	  position: fixed;
    display: none; 
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

#correct {
	color:blue;
	font-family: 'Shadows Into Light', cursive;
}
#wrong {
	color:red;
	font-family: 'Shadows Into Light', cursive;
}
#final {
	font-weight:bold;
	color:green;
	font-family: 'Shadows Into Light', cursive;
}
/*specifity to override properties from bootstrap*/
.col-xs-4 {
	height:120px;
	background-origin:content-box;
	background-repeat: no-repeat;
}

.row {
	padding-top:15px;
}
/* added padding and background-origin to bootstrap classes to separate so card background image would not take up 
all the space and consequently would not have to directly inserted into the columns*/